<h1>MentorNH</h1>
<p>Welcome to MentorNH. We are a service that connects young New Haven professionals with Yale students who are interested in similar fields. Signup to get apired   




StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
