/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
     }


.homeb {
   border: 3px outset black;
   background-color: white;
   height:100px;
   width:300px;
   cursor:pointer;
   font-family: 'Lato', sans-serif;
   font-size:20px;
   display:block;
   margin-left:auto;
   margin-right: auto;
}

.header {
	width: 100%;
	margin-bottom: 10em;
}

/*SIGN UP HEADER*/
.signupimg {
	width: 150px;
    height: auto;
    position: absolute;
    display: block;
}


#supttl {
font-family: 'Lato', sans-serif;
font-size: 90px;
text-align: center;
}

#supsub {
font-family: 'Lato', sans-serif;
font-size: 20px;
text-align:center;
}

.content {
	position: relative;
	width: 100%;
	text-align: center;
}

/*FORMS*/

form {
	text-align: center;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;

}

label {
	font-family: 'Lato', sans-serif;
	font-size:20px;
}

input {
	width: 100%;
	display:block;
	height:30px;
}

select {
	width: 100%;
}

/*TEXT*/
p, h2 {
font-family: 'Lato', sans-serif;
text-align: center;
display: block;
margin-left: 30%;
margin-right: 30%;

}

.profile {
font-family: 'Lato', sans-serif;
text-align: center;
display: block;
margin-left: 30%;
margin-right: 30%;
}



